@import utils.UserHelper
@(currentUser: User)
<div class="sidebar" data-color="azure" data-image="@routes.Assets.versioned("img/faces/face-0.jpg")">

        <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->


        <div class="logo">
            <a href="@routes.Admin.index()" class="logo-text">
                @Messages("Admin.menu.Title")
            </a>
        </div>

    <div class="sidebar-wrapper">

        <div class="user">
            <div class="photo">
                <img src="@currentUser.getAvatarLinkPath()" onerror="this.src='@routes.Assets.at("img/default-avatar.jpg")'" alt="..."/>
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        @currentUser.getEmail
                    <b class="caret"></b>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li><a href="@routes.Admin.userAdminprofile("me")">@Messages("Admin.menu.profile")</a></li>
                        <li><a href="@routes.Application.logout()">@Messages("nav.Logout")</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav" style="margin-bottom: 50px">
            <li id="dashboard">
                <a href="@routes.Admin.index()">
                    <i class="pe-7s-graph"></i>
                    <p>@Messages("Admin.menu.Dashboard")</p>
                </a>
            </li>

            @if(UserHelper.isAdmin(currentUser)) {
                <li id="usermenu">
                    <a id="usermenutoggle" data-toggle="collapse" href="#componentusermenu">
                        <i class="pe-7s-user"></i>
                        <p>@Messages("Admin.menu.User")
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="componentusermenu">
                        <ul class="nav">
                            <li id="userlist"><a href="@routes.Admin.adminusers()">@Messages("Admin.menu.User.list")</a></li>
                            <li id="useradd"><a href="@routes.Admin.addAdminuser()">@Messages("Admin.add")</a></li>
                        </ul>
                    </div>
                </li>
            }

            @if(UserHelper.isAdmin(currentUser)) {
                <li id="categorymenu">
                    <a id="categorymenutoggle" data-toggle="collapse" href="#componentcategorymenu">
                        <i class="pe-7s-menu"></i>
                        <p>@Messages("Admin.Category.title")
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="componentcategorymenu">
                        <ul class="nav">
                            <li id="categorylist"><a href="@routes.CategoryController.categoryList()">@Messages("Admin.Category.list")</a></li>
                            <li id="categoryadd"><a href="@routes.CategoryController.addCategoryView()">@Messages("Admin.Category.add")</a></li>
                        </ul>
                    </div>
                </li>
            }

            @if(UserHelper.isAdmin(currentUser)) {
                <li id="itemmenu">
                    <a id="itemmenutoggle" data-toggle="collapse" href="#componentitemmenu">
                        <i class="pe-7s-gift"></i>
                        <p>@Messages("Admin.Item.title")
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="componentitemmenu">
                        <ul class="nav">
                            <li id="itemlist"><a href="@routes.CategoryController.categoryList()">@Messages("Admin.Item.list")</a></li>
                            <li id="itemadd"><a href="@routes.ItemController.addItemView()">@Messages("Admin.Item.add")</a></li>
                        </ul>
                    </div>
                </li>
            }


        </ul>
    </div>
</div>

