@import helper._
@import play.mvc.Http._
@import play.data.Form
@import models.User
@import models.forms.SearchConditionForm
@import java.util
@import utils.StaticData
@import utils.DateUtil

@import org.springframework.util.StringUtils
@(currentUser: User,divRoot:String,conditionName:String,condition: SearchConditionForm, i: Int)
<div id="@divRoot" class="search-field col-md-12">
    <div class="col-md-2 col-md-offset-1">
            <a class="filedHide">
                <i class="pe-7s-less" style="font-size : 18px ;"></i>
            </a>
        <span class="navitem" style="font-size: 18px">@Messages(conditionName)</span>
    </div>

    <div class="col-md-2" >
        <select name="conditionList[@i].compQueryOp" class="selectpicker conditionOptionValue" data-style="form-control" data-menu-style="">
            <option value= "=" @if(condition.getCompQueryOp.equals("=")) {selected} >=</option>
            <option value= "<>"  @if(condition.getCompQueryOp.equals("<>")) {selected}><></option>
        </select>
    </div>
    <div class="col-md-6" >
        <input name="conditionList[@i].fieldName"  value="@conditionName" class="form-control"  style="display: none">
        <input name="conditionList[@i].fieldType"  value="String" class="form-control"  style="display:none">
        <input name="conditionList[@i].fieldValue" class="conditionTextValue form-control"  placeholder="text..." value="@condition.getFieldValue">
    </div>
</div>
