@import helper._
@import play.mvc.Http._
@import play.data.Form
@import models.User
@import models.forms.SearchConditionForm
@import java.util
@import utils.StaticData
@import utils.DateUtil
@(currentUser: User,divRoot:String,conditionName:String,conditionStart: SearchConditionForm, conditionEnd: SearchConditionForm,i: Int)

<div id="@divRoot" class="search-field col-md-12">

        <div class="col-md-2 col-md-offset-1">
            @if(currentUser.getRole==1) {
                <a class="filedHide">
                    <i class="pe-7s-less" style="font-size : 18px ;"></i>
                </a>
            }
            <span class="navitem" style="font-size: 18px">@Messages(conditionName)</span>
        </div>

        <div class="col-md-2">
            <input name="conditionList[@i].fieldName"  value="@conditionName" class="form-control"  style="display: none">
            <input name="conditionList[@i].fieldType"  value="Double" class="form-control"  style="display: none">
            <select name="conditionList[@i].compQueryOp"   class="DateOption selectpicker conditionOptionValue" data-style="form-control" data-menu-style="">
                <option value= "=" @if(conditionStart.getCompQueryOp.equals("=")){selected} >=</option>
                <option value= "<>"  @if(conditionStart.getCompQueryOp.equals("<>")){selected} ><></option>
                <option value= "<="  @if(conditionStart.getCompQueryOp.equals("<=")){selected} ><=</option>
                <option value= ">="  @if(conditionStart.getCompQueryOp.equals(">=")){selected} >>=</option>
                <option value= "between"  @if(conditionStart.getCompQueryOp.equals("between")){selected} >between</option>
            </select>
        </div>

        <div class="col-md-6">
            <input name="conditionList[@i].fieldValue" class="conditionDoubleValue form-control"  placeholder="123..."  value="@conditionStart.getFieldValue">
        </div>


        <div class="col-md-6 col-md-offset-5" style=" padding-top: 10px">
            <input name="conditionList[@(i+1)].fieldName"  value="@conditionName" class="form-control"  style="display: none">
            <input name="conditionList[@(i+1)].compQueryOp"  value="<=" class="form-control"  style="display: none">
            <input name="conditionList[@(i+1)].fieldType"  value="Double" class="form-control" style="display: none">
            <input name="conditionList[@(i+1)].fieldValue" class="conditionDoubleValue form-control"  placeholder="123..." value="@conditionEnd.getFieldValue">
        </div>

</div>