@import models.forms.SearchFilterForm
@(searchFilterForm:SearchFilterForm, searchFieldArray: List[String] )

<script src="@routes.Assets.at("js/bootstrap-datepicker.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/moment.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/SearchDevice.js")" type="text/javascript"></script>
<script>
    //Init value
    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
    var nowString = moment(nowTemp).format('DD-MM-YYYY');
    var array_list=[];
    @for((item, index) <- searchFieldArray.zipWithIndex) {
        @if(index % 2 == 1) {
            array_list.push('@item');
        }
    }

    @for((item, index) <- searchFieldArray.zipWithIndex) {
        @if(item.equals("Date")) {
            var dateTo@searchFieldArray(index+1) = $('#dateTo'+'@searchFieldArray(index+1)').datepicker({
                format: 'dd-mm-yyyy',
                onRender: function(date) {
                    return date.valueOf() > now.valueOf() ? 'disabled' : '';
                }
            }).on('changeDate', function(ev) {
                console.log($(this));
                $('.datepicker').hide();
            }).data('datepicker');

            var dateFrom@searchFieldArray(index+1) = $('#dateFrom'+'@searchFieldArray(index+1)').datepicker({
                format: 'dd-mm-yyyy',
                onRender: function(date) {
                    return date.valueOf() > now.valueOf() ? 'disabled' : '';
                }
            }).on('changeDate', function(ev) {
                console.log($(this));
                $('.datepicker').hide();
            }).data('datepicker');
        }
    }

    $().ready(function(){
            //init value for search;
        @if(searchFilterForm.getFilter != null) {
             @for(filter <- searchFilterForm.getFilter) { current_array_list.push('@filter');}
        }
        @if(searchFilterForm.isResetCondition) {
            current_array_list = array_list;
            $('body').resetValue();
        }
        InitValue();
        $('.DateOption').change(); //Trigger change
        });

    function ApplyFilter(page, pageSize, isResetPage) {
		$('[name=page]').val(page);
		$('[name=pageSize]').val(pageSize );
		$('[name=isResetPage]').val(isResetPage );
	    //$('[name=filter]').val(current_array_list );
	    $('#ChooseFilter').val(current_array_list );
	    $('#filterDeviceInfoList').submit();
    }
    </script>
