@import utils.UserHelper
@import java.util
@import utils.DateUtil
@import org.springframework.util.StringUtils
@(currentUser:User,menu:Menu,item: Item)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("img/favicon.ico")">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>ShopPro Admin Page</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />


            <!-- Bootstrap core CSS     -->
        <link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet" />
            <!-- Animation library for notifications   -->
        <link href="@routes.Assets.versioned("css/animate.min.css")" rel="stylesheet"/>
            <!--  Light Bootstrap Table core CSS    -->
        <link href="@routes.Assets.versioned("css/light-bootstrap-dashboard.css")" rel="stylesheet"/>
        <link href="@routes.Assets.versioned("css/summernote.css")" rel="stylesheet"/>


            <!--     Fonts and icons     -->
        <link href="@routes.Assets.versioned("css/font-awesome.css")" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="@routes.Assets.versioned("css/pe-icon-7-stroke.css")" rel="stylesheet" />

        <link href="@routes.Assets.versioned("css/view/Admin_add_item.css")" rel="stylesheet" />

            <!--  CSS for Demo Purpose, don't include it in your project     -->
            <!-- <link href="routes.Assets.versioned("css/demo-admin.css")" rel="stylesheet" />-->




    </head>
    <body>

        <div class="wrapper">
            @views.html.tags.AdminMenuTag(currentUser)

            <div class="main-panel">
                @views.html.tags.AdminNavBarTag()

                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                        @helper.form(action = routes.ItemController.updateItem(), 'enctype -> "multipart/form-data", 'id -> "updateitem"){
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">@Messages("Admin.Item.title")</h4>
                                    </div>
                                    <div class="content">

                                        @views.html.Admin_item_Tag.Admin_item_info_img(item)

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group" hidden>
                                                    <input id="id" name="id" type="text" required="true" class="form-control" placeholder="name"  autocomplete="off" value="@item.getId">
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">@Messages("Admin.Item.name")</label>
                                                    <input type="text" style="display:none">
                                                    <input id="itemname" name="name" type="text" required="true" minLength="5" class="form-control" placeholder="name"  autocomplete="off" value="@item.getName">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="quantity">@Messages("Admin.Item.quantity")</label>
                                                    <input type="text" style="display:none">
                                                    <input name="quantity" type="text" readonly class="form-control" placeholder="quantity"  autocomplete="off" value="@item.getQuantity">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12" >
                                                <div class="form-group">
                                                    <label for="category_id">@Messages("Admin.Category.title")</label>
                                                    <div>
                                                        <select id="itemcategory_id" name="category_id" class="selectpicker" data-style="form-control" data-menu-style=""  data-live-search="true">
                                                        @for(submenu<-menu.getCategoryList()) {
                                                            <option value= "@submenu.getId" @if(submenu.getId==item.getCategory_id){selected}  @if(!submenu.isItemCategory){disabled}>@for( level <-1 to submenu.getLevel()) {--------}@submenu.getName</option>
                                                        }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="price_sell">@Messages("Admin.Item.price_sell")</label>
                                                    <input type="text" style="display:none">
                                                    <input name="price_sell" number="true" type="text" class="form-control" placeholder="price_sell"  autocomplete="off" value="@item.getPrice_sell">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="producer">@Messages("Admin.Item.producer")</label>
                                                    <input type="text" style="display:none">
                                                    <input name="producer" type="text" class="form-control" placeholder="producer"  autocomplete="off" value="@item.getProducer">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="origin">@Messages("Admin.Item.origin")</label>
                                                    <input type="text" style="display:none">
                                                    <input name="origin" type="text" class="form-control" placeholder="origin"  autocomplete="off" value="@item.getOrigin">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="material">@Messages("Admin.Item.material")</label>
                                                    <input type="text" style="display:none">
                                                    <input name="material" type="text" class="form-control" placeholder="material"  autocomplete="off" value="@item.getMaterial">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="warrantyTime">@Messages("Admin.Item.warrantyTime")</label>
                                                    <input type="text" style="display:none">
                                                    <input name="warrantyTime"   number="true" type="text" class="form-control" placeholder="warrantyTime"  autocomplete="off" value="@item.getWarrantyTime">
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row" id="techSpecifics">
                                            <div class="col-md-12" >
                                                <div class="form-group">
                                                    <a href="javascript:void(0)" onclick="appendTechSpecific()">@Messages("Admin.Item.techSpecifics")</a>
                                                    <a href="javascript:void(0)" onclick="removelastTechSpecific()">@Messages("Admin.Item.techSpecificsremove")</a>
                                                </div>
                                            </div>

                                            @if(item.getTechkey()!=null&&item.getTechkey().length>0){
                                                @for((key,index) <-item.getTechkey().zipWithIndex){
                                                    <div id="techSpecific@index">
                                                        <div class='col-md-6'>
                                                            <div class='form-group'>
                                                                <label>@Messages("Admin.Item.techSpecifics.key")</label>
                                                                <input id="techkey@index" name="techkey[]" class='form-control' value='@key' type='text' autocomplete='off'>
                                                            </div>
                                                        </div>
                                                        <div class='col-md-6'>
                                                            <div class='form-group'>
                                                                <label>@Messages("Admin.Item.techSpecifics.value")</label>
                                                                <input id="techvalue@index" name="techvalue[]" class='form-control' value='@item.getTechvalue()(index)' type='text' autocomplete='off'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            }
                                        </div>

                                        <div class="row" id="relatedItemRow">
                                            <div class="col-md-12" >
                                                <div class="form-group">
                                                    <a id="aRelatedItem" href="javascript:void(0)" onclick="showRelatedItem()">@Messages("Admin.Item.relateditem")</a>
                                                </div>
                                            </div>
                                            <div id="relatedItemDiv" style="display: none">
                                                <div class="col-md-6" >
                                                    <div class="form-group">
                                                        <label for="related_cate">@Messages("Admin.Category.title")</label>
                                                        <div>
                                                            <select id="related_cate" class="selectpicker" data-style="form-control" data-menu-style="" data-live-search="true" onchange="fillRelatedItem()">
                                                                <option value= "none" data-hidden="true">None</option>
                                                                @for(submenu<-menu.getCategoryList()) {
                                                                    <option value= "@submenu.getId" @if(!submenu.isItemCategory){disabled}>@for( level <-1 to submenu.getLevel()) {--------}@submenu.getName</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <div class="form-group">
                                                        <label for="related_item">@Messages("Admin.Category.title")</label>
                                                        <div>
                                                            <select id="related_item" onchange="SelectRelatedItem()" class="selectpicker" data-style="form-control" data-menu-style="" data-live-search="true" title="@Messages("Admin.Item.title")">

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12" >
                                                    <div class="form-group">
                                                        <input id="relatedItemValue" class='tagsinput tag-azure'/>
                                                    </div>


                                                    <div id="relatedItemValueSubmit" class="form-group" style="display: none">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12" >
                                                <div id="descriptionDiv" class="form-group" style="display: none">
                                                    <input id="description" name="description" type="text" class="form-control">
                                                    <input id="description_id" name="description_id" required="true" type="text" class="form-control" value="@item.getDescription_id">
                                                </div>

                                                <div class="form-group">

                                                    <label>@Messages("Admin.Category.description")</label>
                                                    <div id="summernote"></div>
                                                </div>
                                            </div>
                                        </div>




                                        <button id="submit" type="submit" class="btn btn-info btn-fill pull-right">@Messages("btnUpdate")</button>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>

                    </div>


                </div>
                @views.html.tags.AdminFooterTag()
            </div>
        </div>



    </body>

        <!--   Play Messages JSRoutes     -->
    <script type="text/javascript" src="@routes.JsController.jsMessages()"></script>
    <script type="text/javascript" src="@routes.JsController.javascriptRoutes"></script>

        <!--   Core JS Files   -->
    <script src="@routes.Assets.at("js/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
        <!--  Notifications Plugin    -->
    <script src="@routes.Assets.at("js/bootstrap-notify.js")"></script>

        <!--  Checkbox, Radio & Switch Plugins -->
    <script src="@routes.Assets.at("js/bootstrap-checkbox-radio-switch-tags.js")"></script>

        <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="@routes.Assets.at("js/moment.min.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-datetimepicker.js")" type="text/javascript"></script>

        <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="@routes.Assets.at("js/light-bootstrap-dashboard.js")"></script>

    <script src="@routes.Assets.at("/js/summernote/summernote.min.js")"></script>
    <script src="@routes.Assets.at("/js/summernote/summernote-vi-VN.js")"></script>



        <!--  Charts Plugin -->
        <!-- <script src="routes.Assets.at("js/chartist-admin.min.js")"></script>-->



        <!--  Google Maps Plugin    -->
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->



        <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
        <!--<script src="routes.Assets.at("js/demo-admin.js")"></script>-->

        <!--<script type="text/javascript" src="routes.Assets.at("js/bootstrap-table.js")"></script>-->

        <!--  Forms Validations Plugin -->
    <script src="@routes.Assets.at("js/jquery.validate.min.js")"></script>
    <script src="@routes.Assets.at("js/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/jquery-validate-extended.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("js/bootstrap-selectpicker.js")" type="text/javascript"></script>

    <script type="text/javascript">
            var promo_init=false;
            $(document).ready(function(){

                @if(flash.containsKey("success")) {
                showNotification('top','center','success','@flash.get("success")','pe-7s-like2');
                }
                @if(flash.containsKey("failed")) {
                showNotification('top','center','danger','@flash.get("failed")','pe-7s-close-circle');
                }

                $('#itemmenu').addClass('active');
                $('#itemmenu #componentitemmenu').collapse('show');
                $('#itemmenu #itemadd').addClass('active');


            });

            var summernotecode="@item.getDescription";
            summernotecode=$("<p/>").html(summernotecode).text(); //unescape HTML


            var descrip_img=[];
            var descrip_img_origin=[];

            @if(item.getDescription_img()!=null&&item.getDescription_img().length>0){
                @for( level <-item.getDescription_img()){
                    descrip_img.push('@level');
                    descrip_img_origin.push('@level');
                }
            }

            var techid=0;
            @if(item.getTechkey()!=null&&item.getTechkey().length>0){
                techid=@item.getTechkey().length;
            }

            var summernote_loadnewfile=false;
    </script>
    <script src="@routes.Assets.at("js/view/Admin_item_info.js")" type="text/javascript"></script>

    <script type="text/javascript">
            @if(item.getRelatedItems()!=null&&item.getRelatedItems().length>0){
                showRelatedItem();
                @for( relitem <-item.getRelatedItems()){

                    $('#relatedItemValue').addTag('@relitem');
                }
                $('#relatedItemValue').addTag($("#related_item").val());
            }
    </script>


    <script src="@routes.Assets.at("js/ShowNotification.js")" type="text/javascript"></script>

</html>